body{
    /* background-color: rgb(245, 159, 188); */
    background-image: url("https://i.pinimg.com/736x/82/16/5e/82165e15d423cfcc0aa7b9e6a82ca2e2.jpg");
    
}

.wrap{
    position: relative;
}

#logo{
  position:absolute;
  top:2vw;
  left:2vw;
  width:5vw;
}
 

#img{
    display: block;
    position:relative;
    width: 36%;
    margin: 0 auto;
    margin-top: 5vw;
    transform: rotate(-15deg);
    z-index: 5;
}

#img-back{
    display: flex;
    width: 36%;
    margin: 0 auto;
    transform: rotate(15deg);
    
}


#stamp{
  position: absolute;   
    width: 4vw;
    top: 27%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;       
  pointer-events: none;
  transition: opacity .3s;
}

#stamp2{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;       
  pointer-events: none;
  transition: opacity .3s;
}
#stamp3{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;       
  pointer-events: none;
  transition: opacity .3s;
}
#stamp4{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp5{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp6{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp7{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp8{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp9{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp10{
  position: absolute;   
    width: 4vw;
    top: 40%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}

 @media screen and (max-width: 768px){
  #logo{
    width:5em;
  }


  #img{
    width:18em;
    margin-top:8em;
  }

  #img-back{
     width:18em;
    margin-top:6em;
  }
 }
