body{
    /* background-color: rgb(245, 159, 188); */
    background-image: url("https://i.pinimg.com/736x/82/16/5e/82165e15d423cfcc0aa7b9e6a82ca2e2.jpg");
   cursor:pointer; 
}

.wrap{
    position: relative;
}

#logo{
  position:absolute;
  top:2vw;
  left:2vw;
  width:5vw;
}
 

#img{
    display: block;
    position:relative;
    width: 36%;
    margin: 0 auto;
    margin-top: 5vw;
    transform: rotate(-15deg);
    z-index: 5;
}

#img-back{
    display: flex;
    width: 36%;
    margin: 0 auto;
    transform: rotate(15deg);
    
}


#stamp{
  position: absolute;   
    width: 4vw;
    top: 27%;              
    left: 37vw;            
    z-index: 6;  

    opacity: 0;       
  pointer-events: none;
  transition: opacity .3s;
}

#stamp2{
  position: absolute;   
    width: 4vw;
    top: 26%;              
    left: 42vw;            
    z-index: 6;  

    opacity: 0;       
  pointer-events: none;
  transition: opacity .3s;
}
#stamp3{
  position: absolute;   
    width: 4vw;
    top: 24%;              
    left: 48vw;            
    z-index: 6;  

    opacity: 0;       
  pointer-events: none;
  transition: opacity .3s;
}
#stamp4{
  position: absolute;   
    width: 4vw;
    top: 20%;              
    left: 54vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp5{
  position: absolute;   
    width: 4vw;
    top: 17%;              
    left: 59vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp6{
  position: absolute;   
    width: 4vw;
    top:41%;              
    left: 39vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp7{
  position: absolute;   
    width: 4vw;
    top: 39%;              
    left: 44vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp8{
  position: absolute;   
    width: 4vw;
    top: 34%;              
    left: 50vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp9{
  position: absolute;   
    width: 4vw;
    top: 30%;              
    left: 55vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#stamp10{
  position: absolute;   
    width: 4vw;
    top: 27%;              
    left: 60vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}
#boba{
  position: absolute;   
    width: 60vw;
    top: 10%;              
    left: 53vw;            
    z-index: 6;  

    opacity: 0;        /* start hidden */
  pointer-events: none;
  transition: opacity .3s;
}

 @media screen and (max-width: 768px){
  #logo{
    width:5em;
  }


  #img{
    width:18em;
    margin-top:8em;
  }

  #img-back{
     width:18em;
    margin-top:6em;
  }

#stamp{
  width:30px;
  top: 28vw;
  left: 22vw;
}

#stamp2{
  width:30px;
  top: 26vw;
  left: 33vw;
}

#stamp3{
  width:30px;
  top: 20vw;
  left: 46vw;
}

#stamp4{
  width:30px;
  top: 17vw;
  left: 57vw;
}

#stamp5{
  width:30px;
  top: 13vw;
  left: 68vw;
}

#stamp6{
  width:30px;
  top: 38vw;
  left: 25vw;
}

#stamp7{
  width:30px;
  top: 35vw;
  left: 37vw;
}

#stamp8{
  width:30px;
  top: 32vw;
  left: 48vw;
}
#stamp9{
  width:30px;
  top: 30vw;
  left: 59vw;
}

#stamp10{
  width:30px;
  top: 28vw;
  left: 73vw;
}

#boba{
  display:block;
  left: -30vw;
  top: 50vw;
  width: 150vw;
  position: absolute;
}
 }
