
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
     font-family: "Lora", serif;
  font-optical-sizing: auto;
  color:#3B67A6;
}

.container{
    display: flex;
    flex-direction: row;
}

.topnav{
    display: flex;
    flex-direction: row;
    margin-top: -1vw;
    margin-left: -1vw;
    height: 30vh;
    width: 100vw;
    background-color:#3B67A6 ;
    background-image: url("img/banner.png");
      background-size: cover;        
  background-position: center;  
 
    gap: 10vw;

}

.topnav h1{
    margin-left: 8vw;
    font-size:80px;
    color:#ffffff;
    
}

#xft{
    width:300px;
    height:180px;
    margin-left:8vw;
    margin-top: 2vw;
    
}

.nav-bar{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    margin-top: 2vw;
    
    
}

#logo{
    width:4vw;
    height:4vw;
    margin-top: 1vw;
    margin-left: 42vw;
}

.left{
   
    display: flex;
    flex-direction: column;
    padding: 4vw;
    width: 55vw;
    /* background-color: antiquewhite; */
    margin-left: 3vw;
}



p{
    display: block;
    width:50vw;
    margin: 0 auto;
    margin-top: 4vw;
 
} 

h4{
    margin-top: 1vw;
}

hr{
    border-style: dashed #3B67A6;
}


#milk, #coco , #last{
    padding: 2vw;
}

#coco, #last{
    margin-top: 5vw;
}

.review{
font-size: 30px;
}

.comment-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
  margin-left:3vw;
  margin-top: 3vw;
}

.comment-box textarea {
   
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;

}

.comment-box button {
  padding: 8px;
  background: #3B67A6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.comment-box button:hover {
  background: #3B67A6;
}

#about{
    display: flex;
    margin-top: 5vw;
    width:25vw;
}

.right button{
    position: absolute;   /* lets it overlap */
  top: 67vw;            /* adjust position */
  left: 73vw;
  z-index: 10; 
width: 12vw;
height:4vw;
background-color: #3B67A6;
color:#ffffff;
border:#3B67A6;
}
.right button:hover{
    background-color: white;
color:#3B67A6;
border: solid #3B67A6;
cursor: pointer;
}