
@import url('https://fonts.googleapis.com/css2?family=Liter&family=Parkinsans:wght@300..800&family=Ultra&display=swap');

.container{
background-color: aquamarine;
width:1450px;
height: 100vh;
margin-left:-10px;
margin-top: -10px;
position:fixed;
display:flex;
flex-direction: row;
}

.left{
    background-color:rgb(255, 255, 255);
    width:500px;
    height:100vh;
    
   
  display: flex;
  flex-direction: column;
  overflow: hidden; /* prevent the whole left div from scrolling */

}

.right{
   position: relative;  /* needed so .pin can be absolutely positioned */
  width: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b4531;
}

#map{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right #map{
    width: 100%;
  height: 100%;
  object-fit: cover;
   
    
}

.scroll-text{
    overflow-y: auto; /* enable vertical scrolling for text only */
  padding: 1rem;
  flex: 1;
}


h1{
    padding:10px;
    font-size:26px;
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-top:-20px;
    text-align: start;
    color:#4079bf;
     font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
}

.topbar{
    padding:40px;
    display:flex;
     display: inline-flex;
  align-items: center;  /* vertically centers image and text */
  justify-content: center; /* centers content horizontally if container is wider */
  gap: 8px;
  

}

p{
 padding:10px;
}

.place{
    padding: 25px;
}

.place h2, p{
 font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  color:#4079bf;
  margin-top:-10px;
}

.box{
    background-color: #fbb6d2;
    text-align: center;
    border-radius:25px;
}

a{
  text-decoration: none;
  color: #4079bf;
}
a:hover{
  text-decoration: underline;
}

#info{
  width:25px;
  height:25px;
  margin-top:1px;
}

.results{
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  color:#4079bf;
  font-size:24px;
  margin-top:-50px;
  padding:15px;
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:3px;

}

h2{
  font-size:20px;
}

#search{
  width:26px;
  margin-left:35px;
  /* margin-top:12px; */
  
}

.pin{
  position: absolute;
  top: 40%;     /* vertical position */
  left: 67%;    /* horizontal position */
  width: 60px;  /* fixed size, easier to control */
  height: auto; /* maintain aspect ratio */
  z-index: 10;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pin:hover {
  transform: scale(1.1);
}