@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Liter&display=swap');

body{
     background-color: #262626;
     overflow-x: hidden;
}

h1{
    font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  color: white;
  font-size:30px;
  padding: 10px;
}

.searchbar{
     background-color: rgb(88, 88, 88);
    width: 800px;
    height: 50px;
    margin-top: 25px;
    border-radius: 25px;
    color: white;
      font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
    margin-left: 20px;
}

#profile{
    width: 40px;
    height:40px;
    margin-left:40vh;
   margin-top: 34px;
    
}

.header{
    display: flex;
    flex-direction: row;
    gap:40px;
    /* background-color:blueviolet; */
    /* position: fixed;
    top: 0;
    left: 2%; */
    
    
}
.container{
    display: flex;
    flex-direction: row;
    width: 1000px;
    /* background-color: brown; */
    margin-left:200px;
    height:800px;
}

.directory{
    display:flex;
    flex-direction: row;
    /* background-color:rgb(59, 40, 15); */
    width: 1800px;
    height: 50px;
    margin-top: 0;
    gap: 8px;
     padding: 8px 5%;
     justify-content: center;
  transform: translateX(-765px); 
   
}

hr{
    color:rgb(96, 95, 95);
    border:solid 0.5px;
    margin-top: -40px;
}

.directions{
    color: white;
      font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 220px;
  margin-top:-5px;
    font-weight: bold;
}

.grey{
     color:rgb(96, 95, 95);
      font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:-5px;
  margin-left:20px;
    
}


.story{
    display: flex;
    flex-direction: column;
    /* background-color:burlywood; */
    width: 700px;
    height: 500px;
     font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:white;
  font-size:14px;
}

.ask{
    direction:flex;
    flex-direction: column;
     font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:30px;
  font-size: 18px;

}

.ask p{
    margin-left:-2px;
}

.drink-info{
    /* background-color: cornflowerblue; */
    width:400px;
    height:680px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-left: 1px solid rgb(96, 95, 95);
       font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;

}

#name{
     color: white;
    font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-left: 20px;
  
}

#pic{
    width:360px;
    border-radius: 30px;
    margin-left: 20px;
}

h4{
  display: flex;
  align-items: center;   
  gap: 8px;              
  color: rgb(190, 189, 189);
  font-weight: 300;
  font-size: 18px;

}

#fake-link{
font-weight: 200px;
font-size: 12px;
color:rgb(190, 189, 189);
margin-top:-24px;
margin-left:32px;
}

#brand{
    color:rgb(162, 102, 218);
    margin-top:1px;
}

#chloe-logo{
    width:24px;
border-radius: 30px;

}

.love{
   margin-top:-15px;
}

.small{
    margin-top:5px;
    width:95%;
    margin-left:-4px;
}

#drink-text{
    color:white;
    font-size: 14px;
    width:360px;
    margin-left: 30px;

}

a{
    color:white;
    text-decoration: none;
}

.ask a:hover{
text-decoration: underline;
}

#uluh{
  position: relative;
  display: flex;
  z-index:100;
}

#uluh img {
  display: block;
  width: 300px; /* adjust as needed */
  height: auto;
  border-radius: 10px;
}

/* hidden text initially */
.overlay-text {
  
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* lets hover pass through */
}

/* when hovering on image-container, show text */
.image-container:hover .overlay-text {
  opacity: 1;
}