@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Liter&display=swap');

body{
    background-color: #5A3863;
}

.top-bar{
    display: flex;
    flex-direction: row;
    gap:5px;

}


}

#small-circle{
    width:30px;
    height: 30px;

}

#refresh{
    width:18px;
    height: 18px;
    opacity: 0.7;
    margin-top: 7px;
    border-radius: 5px;
   margin-right:28px;
}

#hamburger{
    width:20px;
    height: 20px;
    margin-top: 14.5px;
    margin-left: -5px;
    
    
}


hr{
    opacity: 0.2;
    margin: 20px 0px 0px 0px;

}


#homepage{
  text-decoration: none;
  color:#E4ABF5;
  
}

#homepage:hover{
  text-decoration: none;
  color:white;
  cursor: pointer;
}

.center{
width: 600px;
/* background-color: aquamarine; */
display: flex;
flex-direction: column;
position: fixed;
left: 50%;
top: 40%;
transform: translate(-50%, -50%);
align-items: center;


}

h1{
    font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  color: white;
  font-size:80px;
 
}

h4{
  font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(187, 187, 187);
  margin-top: -26px;
  margin-left: 50px;
}

#searchbar{
    background-color: white;
    width: 700px;
    height: 50px;
    margin-top: -20px;
    border-radius: 25px;
  
}

.search-icon{
width: 25px;
opacity: 0.5;
margin-left: 14px;
margin-top:12px;
}

p{
     font-family: "Liter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:hsl(0, 0%, 100%);
  font-size: 14px;
}

.underline{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* background-color: blue; */
    width: 200px;
    position:fixed;
    right:20px;

}

.dropdown {
  position: relative;
}


.dropdown:hover  {
  display: block;
 text-decoration:underline;
}

.search-icon2{
    width: 25px;
opacity: 0.5;
}

#profile{
  width:30px;
  height: 30px;
  margin-top:10px;
}