@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Short+Stack&display=swap');


body{
  color: #18AFF2;
 font-family: "pangolin";
   font-weight: 400;
  font-style: normal;
 text-align:center;
 background-image: url("https://i.pinimg.com/736x/1b/e1/3a/1be13a3117b763ace382285f4ac026df.jpg");
  background-size: center;
  background-position: repeat;
}

.note{
  background: url('img/book.png')
              no-repeat center center / contain;
  width: 1100px;
  height: 900px;
  margin: 0 auto;
}

.content{
  width: 1100px;
  height: 900px;
  margin: 0 auto;
  display:flex;
  position:relative;
}

#overall{
  width: 240px;
  height: auto;
  position: absolute;
  top: 55%;     /* vertical position */
  left: 76%;    /* horizontal position */
  z-index: 10;
  cursor: pointer;

}

#overall:hover{
  transform: scale(1.1);
}

#shop{
   width: 300px;
  height: auto;
  position: absolute;
  top: 45%;     /* vertical position */
  left: 55%;    /* horizontal position */
  z-index: 9;
  cursor: pointer;
}

#shop:hover{
  transform: scale(1.1);
}

#city{
   width: 200px;
  height: auto;
  position: absolute;
  top: 25%;     /* vertical position */
  left: 75%;    /* horizontal position */
  z-index: 9;
  cursor: pointer;
}

#city:hover{
  transform: scale(1.1);
}

#worth{
   width: 240px;
  height: auto;
  position: absolute;
  top: 15%;     /* vertical position */
  left: 55%;    /* horizontal position */
  z-index: 9;
  cursor: pointer;
}

#worth:hover{
  transform: scale(1.1);
}

#boba{
   width: 400px;
  height: auto;
  position: absolute;
  top: 16%;     /* vertical position */
  left: 13%;    /* horizontal position */
  z-index: 9;
  cursor: pointer;
}

#boba:hover{
  transform: scale(1.1);
}

#order{
   width: 230px;
  height: auto;
  position: absolute;
  top: 60%;     /* vertical position */
  left: 5%;    /* horizontal position */
  z-index: 9;
  cursor: pointer;
}

#order:hover{
  transform: scale(1.1);
}

#uluh{
   width: 160px;
  height: auto;
  position: absolute;
  top: 13%;     /* vertical position */
  left: 5%;    /* horizontal position */
  z-index: 9;
  cursor: pointer;
}

#uluh:hover{
  transform: scale(1.1);
}


#text{
   width: 180px;
  height: auto;
  position: absolute;
  top: 74%;     /* vertical position */
  left: 30%;
}

.stars{
  width:100px;
  position:absolute;
  top: 74%;     /* vertical position */
  left: 30%;
  cursor: pointer;
  z-index: 11;

}

#logo{
  width: 100px;
  position:absolute;
  top:80%;
  left:85%;
}
#logo:hover{
  transform: scale(1.1);
}

h1{
  position:absolute;
  top:3%;
  left:18%;
  font-size:66px;

}

h2{
  position:absolute;
  top:6%;
  left:85%;
  font-size:26px;
  color:#f89fdd
}