@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
.full{
    display:flex;
    flex-direction: row;
    gap: 2vw;
    align-items: flex-start;
    margin-top: 1vw;
}

.left{
    /* background-color: chocolate; */
  display:flex;
    flex-direction: column;  
    width: 5vw;
    align-items: center;
    border-right: 1px solid rgb(227, 224, 224);
       height: 50px;  
}

.right{
    /* background-color: cornflowerblue; */
    display:flex;
    flex-direction: row;
    width: 95vw;
    gap: 2vw;
    
}

#pinterest{
    width: 3vw;
    margin-top: 0.5vw;
}

#logo{
    width:3vw;
}

#next{
    width: 6vw;
    height:auto;
    opacity: 0.5 ;
    margin-top: 15px;
    
}


.searchbar{
    background-color: rgb(224, 216, 216);
     display: flex;          
    flex-direction: row;    
    align-items: center;    
    justify-content: flex-start;
    gap: 1vw;
    height: 3vw;
    width: 83vw;
    border-radius: 15px;
    font-family:  "Reddit Sans", sans-serif;
    color: grey;
     position: relative;
    cursor: pointer;
 }

.dropdown-text{
     display: none;
    position: absolute;
    top: 100%;        
    left: 0;
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    width:1170px;
}

.searchbar:hover .dropdown-text {
    display: block;
}


 #search{
     margin-left: 1vw;
     width: 1vw;
 }

 .masonry {
    margin-top: 2vw;
    column-count: 5;       
    column-gap: 1vw;        
    width: 100%;
}

.masonry img {
    width: 100%;
    margin-bottom: 1vw;
    border-radius: 12px;
    display: block;
}

#next{
    width: 10px;
    height:auto;
    padding: 5px;
    margin-top:7px;
}


@media screen and (max-width: 768px) {
    #pinterest{
        width: 10vw;
    }

    #logo{
        width: 8vw;

    }
    .searchbar{
        height: 8vw;
        width:70vw ;
        
    }
    #search{
        width: 3vw;
        margin-left: 2vw;
    }

    .left{
        width: 8vw;
        height: 5vw;
        margin-top: 1vw;
        margin-left:-2vw;
    }

    .masonry{
        margin-top: 2vw;
    column-count: 2;        /* number of Pinterest-style columns */
    column-gap: 2vw;
    row-gap: 2vw;        /* spacing between columns */
    width: 100%;
    }

    .dropdown-text{
        width: 65vw;
    }

    #next{
        margin-top: 2px;
        ]
    }

}