@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Urbanist:wght@400;700&display=swap');

.header{
  display: flex;
  flex-direction: row;

}

h1{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#chloe{
  width: 50px;
  height: auto;

}


body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

h2{
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;


}

p{
 
  
   width:60vw;
  /* min-width: 200px; */
  padding: 50px;
  margin: 0 auto; 
  /* margin-top: -10%; */
  

}

.story img{
  max-width: 300px;
  height: auto;
  margin: 0; 
  margin-left: 75vw;
  margin-top: -4vw;
}

#fillButton{
  display: block;
  margin: 0 auto;
  margin-top: -15vw;
}

@media screen and (max-width: 768px) {


  #fillButton{
   margin: 0 auto;

  }

#story img{
margin-left:-40vw;
margin-top: 60vw;
}

  )