@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Urbanist:wght@400;700&display=swap');

.header{
  display: flex;
  flex-direction: row;

}

h1{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#chloe{
  width: 50px;
  height: auto;

}


body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/048/320/083/small_2x/cozy-tea-doodles-set-vector.jpg');
    background-repeat: no-repeat;       
  background-size: cover;                 
  background-position: center;            
  background-attachment: fixed; 
  color: rgb(0, 0, 0);

}
.bg{
  display:block;
  background-color: white;
  width:80vw;
  height:33vw;
  margin:0 auto;
  margin-top:3em;
  border: 2px solid black;
}
h2{
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;


}

#heytea{
  width: 8em;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 2em;
}
.story{
  width:50vw;
  margin:0 auto;
  text-align:center ;
}

p{
 
   width:60vw;
  /* min-width: 200px; */
  padding: 50px;
  margin: 0 auto; 
  margin-left: -7em;
  margin-top: -2em;

}



#fillButton{
  display: block;
  margin: 0 auto;
  margin-top: -4em;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background-color: black;
  color: white;

}

.next{
   font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background-color: black;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 768px) {


  #fillButton{
   margin: 0 auto;

  }

.bg{
  height: 50em;

  
}

p{
 font-size: 12px;
   width:60vw;
  /* min-width: 200px; */
  padding: 50px;
  margin: 0 auto; 
  margin-left: -6em;
  margin-top: -2em;

}

#fillButton{
  display: block;
  margin: 0 auto;
  margin-top: -4em;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background-color: black;
  color: white;

}
}