@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


.chahalo-page .chahalo-note {
  font-family: "Geist Mono", monospace;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 4em auto 0 auto;
  border: 1px solid black;
  width: 50%;
  padding: 40px;
  overflow: hidden;
  box-sizing: border-box;
   position: relative;
  z-index: 1;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 43vw;
  width: 100%; 
}

#logo{
  width: 5vw;
  display: block;
  margin-top: 1vw;
}


#before{
    width: 2vw;
  display: block;
 transform:rotate(180deg);
  margin-top: 1vw;
}

#next {
  width: 2vw;
  display: block;
 
  margin-top: 1vw;
}

/* Button */
.chahalo-page .button {
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40%;
  margin-top: 10%;
  border: 2px solid black;
}

.chahalo-page .button:hover {
  background-color: white;
  color: black;
}

/* Headings & links */
.chahalo-page h3 {
  margin-top: 10%;
  color: black;
}

.chahalo-page h1 {
  font-size: 50px;
  margin-top: 10px;
}

.chahalo-page a {
  text-decoration: none;
  color: black;
}

.chahalo-page a:hover {
  text-decoration: underline;
}

/* .ads{
   width: 100vw;
  height: 100vh;
  display: none; 
}

ad {
  position: absolute;
  display: none;
  width: 25vw;
  max-width: 250px;
  height: auto;
  z-index: 100;
} */

#spawnBtn{
  display: block;
  margin: 0 auto;
  margin-top: 5vw;
}

#imageContainer {
  position: fixed;
  width: 80vw;
  height: 80vh;
  z-index:9998
}

.random-img {
  position: absolute;
  width: 25vw;
  cursor: pointer;
  transition: opacity 0.2s;
  z-index: 9999;
}



/*
#toggle-ad:checked ~ .ads {
  display: block;
  pointer-events: auto;  /* clickable */
}

/* #toggle-ad:checked ~ .ads .ad {
  display: block;
  animation: popUp 0.5s ease-out forwards;
}

.ad:nth-child(1) { top: 20%; left: 10%; }
.ad:nth-child(2) { top: 40%; left: 60%; }
.ad:nth-child(3) { top: 50%; left: 30%; }
.ad:nth-child(4) { top: 10%; left: 70%; }
.ad:nth-child(5) { top: 5%; left: 30%; }
.ad:nth-child(6) { top: 30%; left: 50%; }
.ad:nth-child(7) { top: 80%; left: 20%; }
.ad:nth-child(8) { top: 10%; left: 70%; } */
 */


/* Close button */
/* .chahalo-page .close-btn {
  position: fixed;
  top: 20px;
  right: 25px;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  display: none;
  text-align: center;
  line-height: 35px;
  z-index: 9999;
  transition: all 0.3s ease;
} */
/* 
.chahalo-page .close-btn img {
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
  margin-top: 10px;
} */




/* ----------------------------
   Mobile Responsiveness
---------------------------- */
@media screen and (max-width: 768px) {

  .chahalo-page .chahalo-note {
    width: 90%;
    font-size: 11px;
    margin: 20px auto;
    padding: 20px;
    height: auto;
  }

  .chahalo-page h1, 
  .chahalo-page h2 {
    margin: 0 auto;
    text-align: center;
  }
/* 
  .chahalo-page p {
    margin-top: 15px;
  }

  .chahalo-page .button {
    display: block;
    margin: 10px auto;
    padding: 10px ;
    font-size: 14px;
   
  }

.chahalo-page #next {
 width:20px;
 margin-left:260px;
} */

/* 
  .chahalo-page .ad {
    width: 70vw;
    max-width: 150px;
    height: auto;
  }

  .chahalo-page .close-btn {
    top: 3px;
    right: 10px;
    width: 30px;
    height: 30px;
  }

  .chahalo-page .close-btn img {
    width: 15px;
    height: 15px;
    margin-top: 7px;
  }
} */
