@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Sigmar&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden; /* prevent horizontal scroll */
    background-color: #F5B427;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    color: rgb(19, 85, 184);
}

.top {
    background-color: rgb(249, 250, 239);
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 34vw;
      
}

.bar{
    display:flex;
    flex-direction: row;
    gap:1vw;
}


#lan {
    width: 150px;
margin-left:40vw;
    display: block;
    
    
}

#chloe {
width:3em;
margin-top: 20px;
margin-right:20px;
}

#cart{
    width: 3vw;
    height: 4vw;
    margin-right: 20px;
    margin-top: 1vw;
    position: relative;
    transition: transform 0.3s ease;
}


.right {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position:relative;
    margin-top: 5%;
    /* background-color: aliceblue; */
    
  
    
}

#boba {
    border-radius: 25px;
    width: 90%;
    max-width: 400px;
    border: 2px solid rgb(19, 85, 184);
   
}

.desc {
    margin-top: 20px;
   
}

/* Headings */
h3 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}

h4 {
    margin-top: 50px;
    text-align: center;
}


#add {
    display: block;
    margin: 20px auto;
    padding: 20px;
    width: 30vw;
    border: 2px solid rgb(19, 85, 184);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    color: rgb(19, 85, 184);
    background-color: #F5B427;

}

#add:hover{
     color: #F5B427;
    background-color: rgb(19, 85, 184);
}


.banner {
    background-color: rgb(19, 85, 184);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    position: relative;
    margin-top: 5%;
}

.banner-text {
    color: white;
    font-size: 30px;
    text-align: center;
}

#banner-logo {
    width: 50px;
}

/* Middle Section */
.middle {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: ;
    gap: 1em;
}

.middle img{
    width: 30px;
    
}

.stars{
    display:flex;
    flex-direction: row;
    margin: 0 auto;
}

.second {
    font-size: 40px;
    margin: 80px auto 0 auto;
    text-align: center;
}

/* Container and Boxes */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin-top: 12%;
    margin-left:15%;
    text-align: center;
    

}

.box1 {
    width: 90%;
    max-width: 280px;
    border: 2px solid rgb(19, 85, 184);
    border-radius: 25px;
    padding: 1em;
    background-color:aliceblue;
    position: relative;
}

.pics{
    display: flex;
    flex-direction: row;
gap:50px;  
    margin-top: -100px;
    align-items: center;
    justify-content: center;

}

#friends, #multiple {
    width: 300px;
    height: auto;
    border: 2px solid rgb(19, 85, 184);
    
}

#multiple{
    width: 450px;
}


.myReview{
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

/* Bottom section */
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 20px 0;
}

.textbox {
  width: 800px;               /* set width */
  padding: 10px 15px;         /* inner spacing */
  font-size: 16px;            /* text size */
  border: 2px solid #ccc;     /* border color */
  border-radius: 8px;         /* rounded corners */
  outline: none;              /* remove default focus outline */
  transition: border 0.2s, box-shadow 0.2s;
  font-family: "Liter", sans-serif; /* match your design */
  color: #333;
  background-color: #f5f5f5;
}

.textbox:focus {
  border-color: rgb(19, 85, 184);   

}
.bottom h5{
    margin-top:3vw;
    color: rgb(19, 85, 184);
    text-decoration: none;
}
.bottom h5:hover{
    text-decoration: underline;
}

#more{
    margin-top:1vw;
    width:20vw;
    border: solid 2px rgb(19, 85, 184);
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 20px;
        margin-top: 30px;
    }

    #add {
        width: 80px;
        padding: 15px;
    }

    .banner-text {
        font-size: 20px;
    }

    #banner-logo {
        width: 40px;
    }

    .second {
        font-size: 28px;
        margin-top: 50px;
    }

    .box1 {
        max-width: 90%;
    }

    #friends, #multiple {
        max-width: 90%;
    }

    #boba {
        max-width: 90%;
    }
}